<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_React>
            <version>1.0.0</version>
        </Hackathon_React>
    </modules>
    <global>
        <models>
            <react>
                <class>Hackathon_React_Model</class>
            </react>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Hackathon_React_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <react>
                    <file>react.xml</file>
                </react>
            </updates>
        </layout>
    </frontend>
</config>